body {
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: black;
    overflow: hidden;
}

@media screen {
    body {
        background-attachment: scroll;
    }
}

div.center_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


@keyframes flicker {
    to {
        box-shadow: none;
    }
}


div.social_container {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;

    box-shadow: 0px 0px 10px 15px rgb(229, 229, 231);
    animation: flicker 1s steps(2, start) infinite;

}

img.social_icon {
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; 
    margin: 20px;
    max-height: 65px;
}

::selection {
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none !important;
}

a:hover {
    transform: scale(1.1);
}