/*
Uncomment other shit for a flickering red glow around socials box
*/

body {
    background-image: url("../assets/background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
}

div.center_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*
@keyframes flicker {
    to {
        box-shadow: none;
    }
}
*/

div.social_container {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    /*
    box-shadow: 0px 0px 10px 10px red;
    animation: flicker 1s steps(2, start) infinite;
    */
}

img.social_icon {
    transition: all 1s ease-in-out; 
    margin: 25px;
    max-height: 75px;
}

::selection {
    user-select: none !important;
}

a:hover {
    transform: scale(1.1);
}